apiVersion: v1
kind: Service
metadata:
  name: demo-webapp-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: demo-webapp
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080